<!DOCTYPE html>
<html>
    <head>
        <meta charset='utf-8'>
        <title>{% block title %}Thésaurus{% endblock %}</title>
	<link href="{{ asset('bundles/projetbddthesaurus/css/main.css') }}" rel="stylesheet" type="text/css" />
    </head>
    <body>
    <div id="mainframe">
        <div id="header">
        </div>
        <div id="content">
        {% block content %}{% endblock %}
        </div>
        <div id="footer">
        </div>
    </div>
    </body>
</html>
