<form method="post" action="{{ path('ProjetBDDThesaurusBundle_search') }}" class="search-form">
	<p>Recherche</p>
	<input type="text" name="request" value="">
	<input type="submit" value="" class="button">
</form>
