{% extends 'ProjetBDDThesaurusBundle:Concept:layout.html.twig' %}

{% block title %}Affichage des concepts{% endblock %}


{% block content %}
<h1>Concept list</h1>

<table class="records_list">
    <thead>
        <tr>
            <th>Id</th>
            <th>Actions</th>
        </tr>
    </thead>
    <ul>
    {% for entry in tab %}
        <li style="margin-left:{{ entry.rang }}00px">{{ entry.entity }}</li>
    {% endfor %}
    </ul>
</table>

<ul>
    <li>
        <a href="{{ path('concept_new') }}">
            Create a new entry
        </a>
    </li>
</ul>


{% endblock %}
